@import '../../ui/modal/Modal.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex items-center justify-center gap-2.5;
    @apply rounded;
    @apply font-bold;
    @apply transition duration-200;
    @apply disabled:cursor-not-allowed;
  }
  .btn-primary {
    @apply text-white;
    @apply bg-primary hover:bg-secondary;
    @apply disabled:border-gray-dark disabled:bg-gray-dark;
  }
  .btn-secondary {
    @apply bg-white;
    @apply text-primary hover:text-secondary;
    @apply border border-solid border-primary hover:border-secondary;
    @apply disabled:border-gray-dark disabled:text-gray-dark;
  }
  .btn-lg {
    @apply text-h3;
    @apply px-8 py-3;
  }
  .btn-md {
    @apply text-h2;
    @apply px-5 py-2.5;
  }
  .btn-sm {
    @apply text-h1;
    @apply px-4 py-2;
  }
  .container-2xl {
    @apply px-4 sm:px-8 2xl:px-0;
    @apply max-w-[1400px];
  }
  .container-xl {
    @apply px-4 sm:px-8 2xl:px-0;
    @apply max-w-[1150px];
  }
  .container-lg {
    @apply px-4 sm:px-8 2xl:px-0;
    @apply max-w-[976px];
  }
  .form-control {
    @apply relative;
    @apply rounded;
    @apply text-black placeholder:text-lg placeholder:text-black;
    @apply px-4 py-3;
    @apply border border-solid border-gray-light focus:border-primary;
    @apply focus:outline-none focus:ring-1 focus:ring-primary;
    @apply disabled:cursor-not-allowed disabled:bg-gray-dark disabled:text-gray-dark placeholder:disabled:text-gray-dark;
  }
  .form-control-md {
    @apply px-4 pb-3 pt-2.5;
  }
  .form-control-sm {
    @apply px-3 py-2;
  }
  .checkbox {
    @apply h-6 w-6;
    @apply border border-solid border-gray-light hover:border-primary;
    @apply cursor-pointer;
    @apply rounded;
    @apply text-primary;
    @apply accent-primary;
    @apply focus:ring-transparent;
    @apply disabled:cursor-not-allowed disabled:border-gray-dark disabled:bg-gray-dark disabled:checked:border-none disabled:checked:bg-gray-dark;
  }
  .label {
    @apply text-md;
    @apply cursor-pointer;
    @apply inline-block;
    @apply mb-2;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
